.container {
  width: 500px;
  height: 350px;
  border: 1px solid black;
  padding: 16px;
}

.nameRow {
  margin-bottom: 12px;
}

.qrCodeRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qrImgContainer,
.qrImgContainer > img {
  width: 150px;
  height: 150px;
}

.qrImgContainer > div {
  font-size: 8px;
  text-align: center;
}

.infoRow {
  margin-bottom: 6px;
}

.infoRow > span:nth-child(1) {
  display: inline-block;
  width: 120px;
  margin-right: 4px;
}
